extends layout

block content
  h1 Soap Values API
  h2= time
  h2 Time Microservice 
  p.red Example Usage
  code localHost:3000/August 13, 2016
  br
  code localHost:3000/1450137600
  br
  p.red Expected Output Is JSON
  br 
  code {user: 'Pedro Diaz', Age: 31, Married: true}

