extends layout

block content
  h1 Soap Values API
  h2= values
  h2 Time Microservice 
  p.red Example Usage
  code localHost:3000/August 13, 2016
  br
  code localHost:3000/1450137600
  br
  p.red Expected Output Is JSON
  br 
  code {"label":"Almond Oil","value":{"LyeSapValue":0.1367,"PotassiumSapValue":0.1925}}

