extends layout

block content
 div(class='main') 
  h1 Saponification Values API
  br
  p Here You can grab values to create you very own lye/potassium Calculator for your website or App.
  br
  h2= values
  p.red Example Usage
  code localHost:3000/sap-values
   
  br

  a(class='button', href='/sap-values') Show All 
  br
  a(class='button', href='https://github.com/Pjdaze/SapValuesAPI') Github Repo
  br

  p.red Expected Output Is 
   span.blue JSON
  br 

  code(class='json-preview') {"label":"Almond Oil","value":{"LyeSapValue":0.1367,"PotassiumSapValue":0.1925}}
